<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /~sustainabilitycell/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /~sustainabilitycell/index.html [L]
</IfModule>